# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# Logs
*.log

# Static files
staticfiles/

# Windows
Thumbs.db

# macOS
.DS_Store

venv/