{% extends 'base.html' %}
{% load static %}

{% block title %}Add Product{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow">

                <div class="card-header bg-dark text-white">
                    <h3>Add Product</h3>
                </div>

                <div class="card-body">

                    <form method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div class="mb-3">
                            <label>Product Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label>Category</label>

                            <select name="category" class="form-control">

                                {% for category in categories %}

                                <option value="{{ category.id }}">
                                    {{ category.name }}
                                </option>

                                {% endfor %}

                            </select>

                        </div>

                        <div class="mb-3">
                            <label>Description</label>
                            <textarea name="description"
                                      class="form-control"
                                      rows="4"></textarea>
                        </div>

                        <div class="mb-3">
                            <label>Price</label>
                            <input type="number"
                                   name="price"
                                   class="form-control">
                        </div>

                        <div class="mb-3">
                            <label>Stock</label>
                            <input type="number"
                                   name="stock"
                                   class="form-control">
                        </div>

                        <div class="mb-3">
                            <label>Image</label>
                            <input type="file"
                                   name="image"
                                   class="form-control">
                        </div>

                        <button type="submit"
                                class="btn btn-success">

                            Save Product

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}